<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Document</title>
</head>
<body>
  
<h1>Available products</h1>

<table>
  <thead>
    <tr>
      <td>ID</td>
      <td>Title</td>
      <td>Price</td>
      <td>Counter</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% products.forEach(product => {%>
      <tr data-product-id=<%= product.id %>>
        <td><%= product.id %></td>
        <td><%= product.name %></td>
        <td><%= product.EUR_price %> €</td>
        <td><%= product.orders_counter %></td>
        <td><button onclick=order(<%= product.id %>)>Order</button></td>
      </tr>
    <% }); %>
  </tbody>
</table>

<a href="/login">Login</a>

<script>
  function order(id) {    
    fetch(`http://localhost:3000/${id}`, {
      method: "POST",
      headers: {
        "content-type": "application/json"
      },
      body: JSON.stringify({email: "riri@donald.com", password: "riri1"})
    })
      .then(response => response.json())
      .then(product => {
        updateRow(product);
        alert(
          `Commande terminée.
        Voici votre fichier ${product.file_link} (${product.orders_counter})`
      )})
  }

  function updateRow(product) {
    const rowToUpdate = document.querySelector(`[data-product-id="${product.id}"]`)
    const tdToUpdate = rowToUpdate.children[3]
    tdToUpdate.innerHTML = product.orders_counter;
    return product
  } 
</script>
</body>
</html>
