<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Document</title>
</head>
<body>
  <header>    
    <a href="/signin">Sign in</a>
    <a href="/login">Login</a>
  </header>
  
  <h1>Available products</h1>

  <table>
    <thead>
      <tr>
        <td>ID</td>
        <td>Title</td>
        <td>Price</td>
        <td>Counter</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <% products.forEach(product => {%>
        <tr data-product-row=<%= product.id %>>
          <td><%= product.id %></td>
          <td><%= product.name %></td>
          <td><%= product.EUR_price %> €</td>
          <td><%= product.orders_counter %></td>
          <td>
            <button data-type="order-btn" data-product-id=<%= product.id %>>
              Order
            </button>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
  <button id="get-orders-btn" >Get orders</button>
  <button id="get-products-btn" >Get products</button>

  <script src="scripts/script-index.js"></script>
</body>
</html>
